<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>

      <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>      
      <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
      <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/Pharmacy</property>
      <property name = "hibernate.connection.username">userGrp3 </property>      
      <property name = "hibernate.connection.password">password</property>
      <property name = "hibernate.hbm2ddl.auto">update</property>
      <property name="hibernate.current_session_context_class">thread</property>
      <!-- List of XML mapping files -->
      <mapping resource = "Article.hbm.xml"/>  

  </session-factory>
</hibernate-configuration>